/phpunit.result.cache
/.phpunit.cache
/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key

# Python-related stuff that may confuse GitHub
/venv/
/__pycache__/
*.pyc

# IDE/Editor
/.idea/
/.vscode/
/.fleet/
/.zed/

# Env files
.env
.env.backup
.env.production

# Others
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
